<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Mazer Admin Dashboard</title>

  <link rel="stylesheet" th:href="@{/assets/css/main/app1.css}">
  <link rel="stylesheet"  th:href="@{/assets/css/main/custom.css}">
  <link rel="shortcut icon"  th:href="@{/assets/images/logo/favicon.svg}" type="image/x-icon">
  <link rel="shortcut icon"  th:href="@{/assets/images/logo/favicon.png}" type="image/png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet"  th:href="@{/assets/extensions/fontawesome-free/css/all.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/pages/summernote.css}">
  <link rel="stylesheet" th:href="@{/assets/extensions/summernote/summernote-lite.css}">
  <link rel="stylesheet" th:href="@{/assets/extensions/choices.js/public/assets/styles/choices.css}">
  <link rel="stylesheet" th:href="@{/assets/extensions/sweetalert2/sweetalert2.min.css}">
</head>

<body>
<nav class="navbar fixed-top narbar-custom py-0 bg-body shadow-sm rounded" th:replace="admin-quiz/partial/header::nav">
</nav>
<div id="app" class="app-top">
  <div id="sidebar" class="active" th:replace="admin-quiz/partial/side-bar::side-bar">
  </div>
  <div id="main">
    <header class="mb-3">
      <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
      </a>
    </header>

    <div class="page-content" layout:fragment="content">

    </div>

    <footer>
    </footer>
  </div>
</div>
<script th:src="@{/assets/extensions/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>
<script th:src="@{/assets/extensions/sweetalert2/sweetalert2.min.js}"></script>>
<script th:src="@{/assets/js/pages/sweetalert2.js}"></script>
<div layout:fragment="script">

</div>

</body>
</html>
